*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:focus { outline: none!important; }

.jla-select {
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  text-transform: uppercase;

  .jla-select-option {
    color: #000;
    text-transform: uppercase;
    background: transparent;
  }
}

// The micro clearfix
// ------------------
@mixin clearfix {
  *zoom:1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}



a {
  display: inline-block;
  position: relative;
  color: red;
  text-decoration: none;
  padding: 0 6px;
}

//second paragraph link style
$color-primary: #67953b;

@mixin inlineLinkHoverAnimation(
  $color: $color-primary,
  $opacity: 1,
  $height-start: 80%,
  $height-hover: 200%,
  $height-active: $height-start,
  $offset-start: 0,
  $offset-hover: 0,
  $offset-active: 0,
  $duration: 160ms,
  $element: '',
  $from: 'bottom'
){
  & #{$element} {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-size: 100% ($height-start);
    background-repeat: no-repeat;
    transition: background $duration ease;

    @if $from == 'bottom' {
      background-image:         linear-gradient(to top, rgba($color, $opacity) 50%, rgba(0,0,0,0) 50.1%);
      background-position: left 0 bottom ($offset-start);

    } @else if $from == 'top' {
      background-image: -webkit-linear-gradient(top,       rgba($color, $opacity) 50%, rgba(0,0,0,0) 50.1%);
      background-image:    -moz-linear-gradient(top,       rgba($color, $opacity) 50%, rgba(0,0,0,0) 50.1%);
      background-image:         linear-gradient(to bottom, rgba($color, $opacity) 50%, rgba(0,0,0,0) 50.1%);

      background-position: left 0 top ($offset-start);
    }

  }

  &:focus #{$element},
  &:hover #{$element},
  &:active #{$element}{
    text-decoration: none;
    color: inherit;
  }

  &:focus #{$element} {
    outline: none;
  }



  &:hover #{$element}{
    background-size: 100% ($height-hover);

    @if $from == 'bottom' {
      background-position: left 0 bottom ($offset-hover);
    } @else if $from == 'top' {
      background-position: left 0 top ($offset-hover);
    }
  }



  &:active #{$element}{
    background-size: 100% $height-active;

    @if $from == 'bottom' {
      background-position: left 0 bottom ($offset-active);
    } @else if $from == 'top' {
      background-position: left 0 top ($offset-active);
    }
  }
}

.a1 {
  @include inlineLinkHoverAnimation();
}

.a2 {
  @include inlineLinkHoverAnimation(
    $height-start: 120%,
    $height-active: 200%,
    $offset-active: -60%,
    $from: 'top'
  );
}

// third paragraph link style
.a3 {
  text-decoration: none;
  color: #efefef;
  box-shadow: inset 0 -2px 0 0 #efefef;
  display: inline-block;
  transition: all .2s ease-in-out;
  padding: 0 3px;
  box-sizing: border-box;

  &:hover {
    border: none;
    box-shadow: inset 0 -38px 0 0 #efefef;
    color: #282c34;
  }
}

.a4 {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 0 6px;
  z-index: 2;

  &:before {
    will-change: transform;
    content: "";
    background: red;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
  }
  &:before {
    transition: 100ms ease-out 50ms;
    transform-origin: 0 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-primary;
    //opacity: 0.3;
  }

  &:hover {
    &:before {
      transition: 100ms ease-out;
      transform: scaleY(.18);
      background: $color-primary;
    }
  }
}


